<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604145149050-4dak5pa3ln1sp1mb7vb3pilafou4hrck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604145149050-4dak5pa3ln1sp1mb7vb3pilafou4hrck</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>604145149050-70vc84cklan21sr02ivkp4bvoblqlof3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCyfVKbB1XjBbmWYYLAgmVydi9PoF9EeBs</string>
	<key>GCM_SENDER_ID</key>
	<string>604145149050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.m3azy.la7New</string>
	<key>PROJECT_ID</key>
	<string>gymla7</string>
	<key>STORAGE_BUCKET</key>
	<string>gymla7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604145149050:ios:05093109ca37ead5aa87c3</string>
	<key>DATABASE_URL</key>
	<string>https://gymla7-default-rtdb.firebaseio.com</string>
</dict>
</plist>